	* {
      transition: all 0.3s;
    }

    body {
      background: cadetblue;
      padding: 0;
      margin: 0;
      text-align: center;
      font-family: calibri;
      font-size: 120%;
    }

    nav ul{
        list-style: none;
        display: flex;
        margin: 30px;
    }

    ul{
        list-style: none;
        padding: 0px;
    }

    ol{
        list-style: none;
    }

    header{
        top: 0;
        background: white;
        position: absolute;
        width: 100%;
        box-shadow: 2px 7px 21px -2px rgba(0,0,0,0.75);
        -webkit-box-shadow: 2px 7px 21px -2px rgba(0,0,0,0.75);
        -moz-box-shadow: 2px 7px 21px -2px rgba(0,0,0,0.75);
        z-index: 3;
    }

    nav{
        display: flex;
    }

    header ul{
        margin-left: auto;
    }

    li{
        margin-left: 10px;
        margin-right: 10px;
    }

    li a{
        font-weight: bold;
        color: #746e6e;
        text-decoration: none;
    }

    li a:hover{
        font-weight: bold;
        color: black;
        text-decoration: none;
    }

    div a{
        font-weight: bold;
        color: white;
        text-decoration: none;
    }

    div a:hover{
        font-weight: bold;
        color: gray;
        text-decoration: none;
    }   

    main{
        background: white;
    }

    a[name="prev"] {
     cursor: pointer;
     position: absolute;
     top: 50%;
     left: 2%;
     width: auto;
     padding: 16px;
     margin-top: -22px;
     color: white;
     font-weight: bold;
     font-size: 18px;
     transition: 0.6s ease;
     border-radius: 0 3px 3px 0;
     user-select: none;
     background-color: rgba(0,0,0,0.8);
   }

   a[name="next"]{
     cursor: pointer;
     position: absolute;
     top: 50%;
     right: 2%;
     width: auto;
     padding: 16px;
     margin-top: -22px;
     color: white;
     font-weight: bold;
     font-size: 18px;
     transition: 0.6s ease;
     border-radius: 0 3px 3px 0;
     user-select: none; 
     background-color: rgba(0,0,0,0.8);
   }

   div[name="fade"] {
     animation-name: fade;
     animation-duration: 1.5s;
   }

   section h2{
        margin: 0px; 
        padding: 20px; 
        color: white; 
        background: #2a387c;
   }

   tr{
        background: white;
   }

    main div span {
     cursor: pointer;
     height: 15px;
     width: 15px;
     margin: 0 2px;
     background-color: #bbb;
     border-radius: 50%;
     display: inline-block;
     transition: background-color 0.6s ease;
   }

   span[name="active"], main div span:hover {
     background-color: #717171;
   }

   div[name="time"]{
      margin: auto;
      border-radius: 0.5rem;
   }

   @keyframes div[name="fade"] {
     from {opacity: .4} 
     to {opacity: 1}
   }

   /* On smaller screens, decrease text size */
   @media only screen and (max-width: 300px) {
     a[name="prev"], a[next="next"] {font-size: 11px}
   }

    .tiempo{
      width: 98vw;
      height: 97vh;
      display: inline-flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .contenedor {
      width: 98vw;
      height: 97vh;
      display: inline-flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .encabezado {
      position: relative;
      background: white;
      min-width: 300px;
      width: 70%;
      max-width: 600px;
      padding: 10px;
    }

    .categoria {
      opacity: 0.3;
      text-align: left;
    }

    .pregunta {
      padding: 10px;
    }

    .imagen {
      object-fit: cover;
      height: 0px;
      width: 0px;
    }

    .btn {
      background: white;
      width: 60%;
      max-width: 550px;
      padding: 10px;
      margin: 5px;
      cursor: pointer;
    }

    .btn:hover {
      transform: scale(1.05);
    }
    
    .numero{
      position: absolute;
      opacity:0.3;
      top: 10px;
      right: 10px;
    }
    
    .puntaje{
      padding:10px;
      color:white;
    } 

    table {
       width: 100%;
       border: 1px solid #999;
       text-align: left;
       border-collapse: collapse;
       margin: 0 0 1em 0;
    }

    th, td {
       border-bottom: 2px solid #999;
       width: 25%;
    }

    footer{
        margin-top: 40px;
        background: white;
        color: black;
        padding: 20px;
    }

     .copyright {
         margin-top: 10px;
    }
     
    /* Responsividad */
     @media screen and (max-width: 768px) {
         .nav-menu {
             display: none;
        }
         .nav-toggle {
             display: block;
             font-size: 24px;
             color: #fff;
             background-color: #4caf50;
             border: none;
             padding: 10px;
             position: absolute;
             top: 10px;
             right: 10px;
             cursor: pointer;
        }
         .nav-toggle:hover {
             background-color: #388e3c;
        }
         .nav.active .nav-menu {
             display: block;
             margin-top: 10px;
        }
         .productos{
        /*scroll horizontal*/
         width: 768px;
         }
         .productos img {
             width: 100%;
             margin-top: 20px;
            
        }
    }

     * {
         box-sizing: border-box;
    }